[submodule "portable"]
	path = portable
	url = https://github.com/libertine-linux-forks/libressl-portable-portable.git
	branch = master
[submodule "openbsd"]
	path = openbsd
	url = https://github.com/libertine-linux-forks/libressl-portable-openbsd.git
	branch = master
