[submodule "portable"]
	path = portable
	url = https://github.com/libertine-linux-forks/libressl-portable-openbsd.git
[submodule "openbsd"]
	path = openbsd
	url = https://github.com/libressl-portable/openbsd.git
